<!DOCTYPE html>
<html ng-app="app">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href="webjars/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body ng-controller="HomeController">
	<div class="container">
		<h1>Coronavirus Tracker Application</h1>
		<p>This application lists the current numer of cases reported across the globe</p>
		<p class="lead">Total cases reported as of today</p>
		<hr class="my-4">
		<p>
			<span>New cases reported since previus day:</span>
			<span>{{totalNewCases}} 10</span>
		</p>
	</div>
	<table class="table">
		<thead>
			<tr>
				<th>State</th>
				<th>Country</th>
				<th>Total cases reported</th>
				<th>Changes since last day</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="location in locations">
				<td>{{location.state}}</td>
				<td>{{location.country}}</td>
				<td>{{location.latestTotalCases}}</td>
				<td>{{location.diffFromPrevDay}}</td>
			</tr>
		</tbody>		
	</table>
	<script type="text/javascript" src="webjars/angularjs/1.7.8/angular.min.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
</body>
</html>